@model Dominio.Proveedor
@{
    ViewBag.Title = "CreateFromTxt";
}

<h2>Agregar Proveedores desde proveedores.txt</h2>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="CreateFromTxt" class="btn btn-default" />
    </div>
</div>
